@import './reset.css';
/* = = = = = = = = = = = = = = = */
/* BODY STYLES                   */
/* = = = = = = = = = = = = = = = */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    color: #FFF;
    background-color: #0077b6;
}

