@import './reset.css';
/* = = = = = = = = = = = = = = = */
/* BODY STYLES                   */
/* = = = = = = = = = = = = = = = */
* {
    color: #FFF;
}

body {
    background-color: #212529;
}

button, input[type=button] {
    padding: 8px;
    border-radius: 5px;
    font-weight: 700;
}

input[type=text] {
    padding: 8px 15px;
    color: #000;
}

table {
    margin-top: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    padding: 15px;
}

table td {
    border-bottom: 1px solid #ddd;
}
      
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0077b6;
}

/* = = = = = = = = = = = = = = = */
/* FLEXBOX                       */
/* = = = = = = = = = = = = = = = */
header, .search-form, .action-btns, .add-contact-modal,
.add-contact-modal form, .modal-btns {
    display: flex;
    align-items: center;
}
