@import './base.css';
/* = = = = = = = = = = = = = = = */
/* WRAPPER                       */
/* = = = = = = = = = = = = = = = */
.wrapper {
    height: 100vh;
}

/* = = = = = = = = = = = = = = = */
/* HEADER                        */
/* = = = = = = = = = = = = = = = */
header {
    justify-content: space-between;
    width: 100%;
    padding: 15px 200px;
    background-color: #343a40;
}

header button {
    background-color: #006c2c;
}

/* = = = = = = = = = = = = = = = */
/* MAIN-CONTENT                  */
/* = = = = = = = = = = = = = = = */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.search-form i {
    padding: 10px;
    background-color: #0077b6;
}

