@import './base.css';
/* = = = = = = = = = = = = = = = */
/* WRAPPER                       */
/* = = = = = = = = = = = = = = = */
.wrapper {
    height: 100vh;
}

/* = = = = = = = = = = = = = = = */
/* HEADER                        */
/* = = = = = = = = = = = = = = = */
header {
    justify-content: space-between;
    width: 100%;
    padding: 15px 200px;
    background-color: #343a40;
}

header button {
    background-color: #2a9134;
}

/* = = = = = = = = = = = = = = = */
/* MAIN-CONTENT                  */
/* = = = = = = = = = = = = = = = */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 200px;
}

.search-form i {
    padding: 10px;
    background-color: #0077b6;
}

.action-btns i {
    padding: 10px;
    font-size: 1.2rem;
}

.fa-pencil { color: #ff9914; }
.fa-trash-can { color: #f21b3f; }


